# Firebase Configuration (Replace with your actual keys)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=worldmodels-jobs
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

# Project Settings
NEXT_PUBLIC_SITE_URL=https://worldmodels-jobs.web.app
ADMIN_EMAIL=cesarherrerarojo@gmail.com

# API Security
API_KEY=
CORS_ORIGIN=https://worldmodels-jobs.web.app

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_BASIC=
STRIPE_PRICE_PRO=
STRIPE_PRICE_PREMIUM=
